* { margin:0; padding:0; font-family: sans-serif; }
html, body { width:100%; height:100%; }
body { background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%); }
canvas {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #1e1e1e;
    display: block;
    border-radius: 5px;
    box-shadow: 0 0 0 5pt #ffffff;
}
h1 {
    position: fixed;
    font-size: 18px;
    color: #fff;
    bottom: 5px;
    right: 5px;
    font-weight: 300;
    cursor: pointer;
}